@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
    "Helvetica Neue", sans-serif;
  --font-mlm-roman: "MLMRoman", serif;
}

@font-face {
  font-family: "MLMRoman";
  src: url("/fonts/MLMRoman12-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@utility scrollbar-soft {
  scrollbar-color: color-mix(in oklab, white 13%, transparent) transparent;
  scrollbar-width: thin;
}

@utility scrollbar-soft {
  &::-webkit-scrollbar {
    width: 0.625rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: color-mix(in oklab, white 10%, transparent);
    border: 0.1875rem solid transparent;
    border-radius: 999px;
    background-clip: content-box;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: color-mix(in oklab, white 18%, transparent);
    background-clip: content-box;
  }
}

/* @font-face {
  font-family: "MLMRoman";
  src: url("/fonts/MLMRoman12-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "MLMRoman";
  src: url("/fonts/MLMRoman12-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */
